@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  }


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

audio::-webkit-media-controls-enclosure {
   border-radius: 3px;
   background-color: lightgrey;
 }


iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
}
.image-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 999;
}

.image-popup.show {
    display: block;
}

.image-popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-popup-inner {
    padding-top: 3px;
    margin: 3px 3px 3px 3px;
}

.underline {
    color: darkgray;
    text-decoration: underline;
    font-style: italic;
}



